%h1 Путешествия
.article-column
  %ul.list-unstyled
    - @articles.each do |article|
      - if can? :read, article
        %li
          = link_to article.short_title, article_path(article), title: article.short_title
          = raw strip_tags(article.content).truncate(300)

= link_to 'Распечатать страницу', '#'

.cont
  = render 'layouts/news'
= render 'layouts/best_country'
