.container
  .row
    .col-md-9
      %h1 Визы
      %ul
      - if @visas.present?
        - @visas.each do |visa|
          %li.list-unstyled
            = link_to visa.title, '#' + visa.friendly_id.to_s
        %ul
        - @visas.each do |visa|
          %li.list-unstyled
            %h4
              %a{ name: '#' + visa.friendly_id.to_s }
              = visa.title
            = visa.description

    .col-md-3
      = render 'layouts/news'
      = render 'layouts/best_country'
  =render 'layouts/countries'
