= render 'layouts/some_tours'
= render 'layouts/search'
.container
  %h2.text-center Хиты продаж
  #hits_of_sales
    %ul.list-unstyled
      - @hits.each_with_index do |hit, i|
        - if i==1
          - if @nearest.present?
            %li.hit-item.stamp
              %h3.centered Ближайший автобусный тур
              = @nearest.countries.first.title
              , отправление
              = Russian::strftime(@nearest_date, '%d %B')
              %div.shorted-title
                = link_to @nearest.short_title, tour_path(@nearest)
                %div.go-right-pos
                  %div.gradient
                  %p.price.on-a-stamp
                    - n = @nearest.date_prices.order('price ASC').first
                    = n.price
                    = n.currency
              = link_to image_tag(@nearest.images.first.image.url(:medium)), tour_path(@nearest)
            %li.hit-item
              = link_to image_tag(hit.images.first.image.url(:medium)), tour_path(hit)
              %br
              = link_to hit.short_title, tour_path(hit)
              %br
              .price
                от
                - h = hit.date_prices.order('price ASC').first
                = h.try(:price)
                = h.try(:currency)
              = hit.description
        - else
          %li.hit-item
            = link_to image_tag(hit.images.first.image.url(:medium)), tour_path(hit)
            %br
            = link_to hit.short_title, tour_path(hit)
            .price
              от
              - h = hit.date_prices.order('price ASC').first
              = h.try(:price)
              = h.try(:currency)
            = hit.description
  #we-are-the-best
    .row
      .col-md-8
        = render 'layouts/we_are_the_best'
      .col-md-3.pull-left
        = render 'layouts/news'
  #articles-part
    = render 'layouts/articles'
    = render 'layouts/home_best_country'
  #countries-part.container
    = render 'layouts/countries'
