.container
  .row
    .col-md-9
      %h1= @news.title
      = raw @news.content
      %span= Russian::strftime(@news.created_at, "%e %B %Y")
      = render 'layouts/shared'
    .col-md-3
      = render 'layouts/news'
      = render 'layouts/best_country'
  =render 'layouts/countries'
