%h2.centered Каталог туров
.container
  #tours-catalog.col-md-8
    .row
      .col-md-2
        Название
      .col-md-8
        Описание
      .col-md-1
        Цена
    - @tours.each do |tour|
      .row
        .col-md-2
          = link_to tour.short_title, tour_path(tour)
        .col-md-8
          = tour.description
          .row
            - tour.dates_of.each do |date|
              = date.deadline_date.strftime('%d.%m.%Y')
        .col-md-1
          %h3
            = tour.date_prices.nearest.try(:price)
  #vidjets.col-md-2
    = render 'layouts/news'
    = render 'layouts/best_country'
#countries-vidjet.container
  = render 'layouts/countries'







