.main-wrapper
  #search-wrapper
    .container
      %h2
        = search_title
      .search-bar
        = render 'layouts/search'
.container
  #tours-catalog.col-md-9
    - @tours.each do |tour|
      .row#each-tour
        .col-md-1
          = link_to image_tag(tour.images.first.image.url(:small)), tour_path(tour)
        .col-md-10
          .row
            .col-md-9
              %h3
                = link_to tour.short_title, tour_path(tour)
            .col-md-2
              %h5.tour-price
                - if tour.date_prices.nearest.present?
                  = tour.date_prices.nearest.price
                  %span#currency-sign
                    = tour.date_prices.nearest.currency
          .row
            %ul.list-unstyled.list-inline
              - tour.dates_of.each do |date|
                %li.date-off
                  = Russian::strftime(date, '%d %B %Y')
  #vidjets.col-md-3
    = render 'layouts/news'
    = render 'layouts/best_country'
#countries-part.container
  = render 'layouts/countries'
