%h1= @country.title
%ul#myTab.nav.nav-tabs
  %li.active
    %a{'data-toggle' => 'tab', href: '#country-info'} Информация о стране
  %li
    %a{'data-toggle' => 'tab', href: '#country-tours'} Туры #{@country.tours.size}
  %li
    %a{'data-toggle' => 'tab', href: '#country-visas'} Визы
.tab-content
  #country-info.tab-pane.active
    %p= raw @country.description
  #country-tours.tab-pane
    - @country.tours.each do |tour|
      %p= tour.title
  #country-visas.tab-pane
    - @country.visas.each do |visa|
      %p= visa.title
=render 'layouts/also'
=render 'layouts/news'
=render 'layouts/countries'