.row-fluid
  .span9
    %h1= @country.title
    %ul#myTab.nav.nav-tabs
      %li.active
        %a{'data-toggle' => 'tab', href: '#country-info'} Информация о стране
      - if @country.tours.any?
        %li
          %a{'data-toggle' => 'tab', href: '#country-tours'} Туры #{@country.tours.size}
      - if @country.visas.any?
        %li
          %a{'data-toggle' => 'tab', href: '#country-visas'} Визы
    .tab-content
      #country-info.tab-pane.active
        %p= raw @country.description
      #country-tours.tab-pane
        - @country.tours.each do |tour|
          %p= tour.title
      #country-visas.tab-pane
        - @country.visas.each do |visa|
          %p= visa.title
  .span3
    =render 'layouts/news'
=render 'layouts/also'
=render 'layouts/countries'