- if Country.exists?
  .countries
    %h2 Страны
    .column
      - if @europe.exists?
        %ul
          %li
            %h3 Европа
          - @europe.each do |country|
            %li.flag= link_to "#{country.title}", country_path(country), title: "#{country.title}", :style => "background: url('#{country.flag.url(:small)}') no-repeat;"
      - if @asia.exists?
        %ul
          %li
            %h3 Азия
          - @asia.each do |country|
            %li.flag= link_to "#{country.title}", country_path(country), title: "#{country.title}", :style => "background: url('#{country.flag.url(:small)}') no-repeat;"
      - if @africa.exists?
        %ul
          %li
            %h3 Африка
          - @africa.each do |country|
            %li.flag= link_to "#{country.title}", country_path(country), title: "#{country.title}", :style => "background: url('#{country.flag.url(:small)}') no-repeat;"
      - if @america.exists?
        %ul
          %li
            %h3 Южная Америка
          - @america.each do |country|
            %li.flag= link_to "#{country.title}", country_path(country), title: "#{country.title}", :style => "background: url('#{country.flag.url(:small)}') no-repeat;"
      - if @also.exists?
        %ul
          %li
            %h3 А также
          - @also.each do |country|
            %li.flag= link_to "#{country.title}", country_path(country), title: "#{country.title}", :style => "background: url('#{country.flag.url(:small)}') no-repeat;"
