%h2.text-center Хиты продаж
%ul.list-unstyled#hits_of_sales
  - @hits.each_with_index do |hit, i|
    - if i==1
      - if @nearest.present?
        %li.hit-item.stamp#hit-stampped
          %h3.text-center Ближайший автобусный тур
          %h6
            = @nearest.countries.first.title
            , отправление
            = Russian::strftime(@nearest_date, '%d %B')
          %div
            .shorted-title
              %h4
                = link_to @nearest.short_title, tour_path(@nearest)
            %div.go-right-pos
              %div.gradient
              .price.on-a-stamp
                - n = @nearest.date_prices.order('price ASC').first
                от
                = n.price
                = n.currency
            = link_to image_tag(@nearest.images.first.image.url(:medium)), tour_path(@nearest)
        %li.hit-item.hit-max-height
          = link_to image_tag(hit.images.first.image.url(:medium)), tour_path(hit)
          %br
          %h4
            = link_to hit.short_title, tour_path(hit)
          .price
            %h5
              от
              - h = hit.date_prices.order('price ASC').first
              = h.try(:price)
              = h.try(:currency)
          %p
            = hit.title
    - else
      %li.hit-item.hit-max-height
        = link_to image_tag(hit.images.first.image.url(:medium)), tour_path(hit)
        %br
        %h4
          = link_to hit.short_title, tour_path(hit)
        .price
          %h5
            от
            - h = hit.date_prices.order('price ASC').first
            = h.try(:price)
            = h.try(:currency)
        %p
          = hit.title
