%h2
  = @tour.short_title
.fotorama_shadow
  #foto-tour
    - @tour.images.each do |x|
      = image_tag(image_path(x.image(:medium)))
= render 'layouts/steps'
.row#prices
  .col-md-4.col-xs-4.col-sm-4.price-styles
    = render 'layouts/price'
  .col-md-4.col-xs-4.col-sm-4.special-color.price-styles
    = render 'layouts/special_price'
  .col-md-4.col-xs-4.col-sm-4
    .btn.btn-default.navbar-btn.my-btn
      = link_to 'Заказать', modal_path('form_order', @tour.class.name, @tour.id), class: "b-modal"
#tour-notes
  %h3
    Примечания:
  = raw @tour.description
= render 'layouts/shared'
