%ul.list-unstyled.back-gray
  %li#vidj-prices.price-styles
    = render 'layouts/price'
  - if @special_price.present?
    %li#sp-price.special-color.price-styles.special-price-style
      = render 'layouts/special_price'
  .btn.btn-default.my-btn.vidjet-btn
    %a{href: modal_path('form_order', @tour.class.name, @tour.id), class: "b-modal"}
      Заказать тур
    %i.icon-ok-sign.icon-2x
#countries-vidjet.back-gray
  %h5 Страны
  - @countries.each do |country|
    %ul.list-unstyled
      %li
        = link_to country.title, country_path(country),title: country.title, style: "background: url('#{country.flag.url(:small)}') no-repeat;"
#dates-of-vidjet.back-gray
  %h5
    %i.icon-calendar-empty.icon-medium
    Даты выездов:
  .gray-color
    = Date.today.year
  %ul.list-unstyled
    - @all_dates_of.each do |date|
      %li
        %h6
          = Russian::strftime(date, '%d %B')
#downloads
  %i.icon-list-alt.icon-medium
    = link_to 'Визовые документы', tour_visas_path( @tour )
  - @attaches.each do |doc|
    %ul.list-unstyled
      %li
        %i.icon-download.icon-medium
        = link_to doc.title, doc.document.url, title: doc.title
        %p.text-muted #{File.extname(doc.document_file_name).delete('.').upcase}, #{number_to_human_size(doc.document_file_size)}
  .printer
    =link_to 'Распечатать страницу', 'javascript:window.print();', title: 'Распечатать страницу'