%h2 Мы предлагаем только лучший отдых
.row
  .col-md-6
    %p
      = image_tag(image_path('bus.png'))
  .col-md-6
    %p
      = image_tag(image_path('people.png'))
.row
  .col-md-6
    %p
      = link_to 'Автобусные туры', resttypes_path(@bus_tour)
      по Европе,
      = link_to 'отдых на море', resttypes_path(@sea_rest)
      на лучших курортах, познавательные
      = link_to 'авиатуры', resttypes_path(@flight)
      в новые для вас страны и города,
      = link_to 'туры выходного дня', resttypes_path(@dayoff_rest)
      , и многое другое.
  .col-md-6
    %p
      Мы ценим каждого клиента и подходим
      максимально досконально и ответственно
      к выполнению своих обязательств перед вами.
.row
  .col-md-6
    %p
      = image_tag(image_path('hand.png'))
    %p
      Постоянно обновляемая
      =link_to 'база туров', tours_path
      , выгодные цены, дисконтная программа,
      грамотная и оперативная консультация
      наших менеджеров делает выбор тура
      лёгким, удобным и выгодным, а ваше
      путешествие – незабываемым!
  .col-md-6
    %p
      = image_tag(image_path('card.png'))

