%html
  %head
    %title panda-travel.by
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/header'
      #navigational-bar.container
        = render 'layouts/mainmenu'
        = render 'layouts/address'
    = yield
    = render 'layouts/footer'
    #ajax-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}

